%h2.text-center My Posts
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th #
      %th Content
      %th Group Name
      %th Last Update
      %th(colspan="2") Action
  %tbody
    - @posts.each_with_index do |post, i|
      %tr
        %td
          = i + 1
        %td
          = post.content
        %td
          = post.group.title
        %td
          = post.updated_at
        %td
          = link_to('Edit', edit_group_post_path(post.group, post), :class => 'btn btn-info')
        %td          
          = link_to('Delete', group_post_path(post.group, post), :method => :delete, data:{ confirm: 'Are you sure?'}, :class => 'btn btn-danger')          